/* Mobile first */

#root {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p, button {
  font-family: 'Impact', sans-serif;
  line-height: 1;
}

.App {
  width: fit-content;
  max-width: 100%;
  padding: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#LocationName {
  font-size: 50px;
  margin:25px 0 ;
}

#Description {
  font-size: 25px;
  margin:25px 0;
}

.UnitType {
  border: none;
  min-width: 100px;
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
}

#Temperature {
  font-size: 50px;
  margin:25px 0;
}
.metric::after {
  content: '\2103';
}

.imperial::after {
  content: '\2109';
}

.kmph::after {
  content: 'kmph'
}

.Mph::after {
  content: 'mph'
}